/* Elements sélectors */

body {
    background: radial-gradient(at top center, #CCDAE0, #EDF2F4 );
}


/* * {
    background: radial-gradient(at top,  #CCDAE0, #EDF2F4);
  } */

  h1 {
    color: #EF233C;
    font-size: 3em;
    font-weight: bold;
    font-family: impact;
  }

  h3 {
    color: #2B2D42;
    font-size: 2em;
  }

  article {
    border: 1px solid black;
  }

  .img {
    border: 2px solid #8D99AE;
  }
  
  nav {
      text-align: center;
  }
  
  nav li {
      display: inline-block;
      margin: 2rem;
  }
  
  body {
      text-align: center;
  }

  footer {
    margin-left: 50%;
  }

  a:link {
    color: #D90429;
  }

  a:visited {
    color: grey;
  }

  a:hover {
    color: #2B2D42;
  }

/* Class Sélectors */
.required {
    color: red;
}

/* ID Sélectors */